# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
/dashboard-ui/node_modules
/dashboard-ui/.pnp
/dashboard-ui/.pnp.js

# dev
/dashboard-ui/*.local

# testing
/dashboard-ui/coverage

# build
/bin
/dashboard-ui/dist
/dashboard-ui/dist-ssr

# build artifacts
/modules/dashboard/website/*
!/modules/dashboard/website/
!/modules/dashboard/website/.gitkeep

# pnpm
.pnpm-store

# vite
.vite

# go
/modules/go.work.sum

# rust
*.rs.bk
*.dll
*.so
*.dylib
*.rmeta
/crates/*/target
/crates/target
/target

# tilt (custom)
.tilt

# misc
/dashboard-ui/stats.html

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
