# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.js

# dev
/frontend/*.local

# testing
/frontend/coverage

# build
/bin
/frontend/dist
/frontend/dist-ssr

# build artifacts
/backend/server/website/*
!/backend/server/website/
!/backend/server/website/.gitkeep

# tilt (custom)
.tilt

# misc
/frontend/stats.html

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
