# kubetail repository ownership
*   @amorey

# kubetail docs, community and CI ownership
*.md    @rxinui @amorey
.github/    @rxinui @amorey

# kubetail go-backend ownership
/modules/cli/   @rxinui @amorey
/modules/shared/    @rxinui @amorey
/modules/cluster-api/    @rxinui @amorey

# kubetail rust-backend ownership
/crates/   @gikaragia @amorey 
