#!/usr/bin/make -f

export PATH := /usr/lib/go-1.24/bin:$(PATH)
export GO111MODULE := on
export GOWORK := off
export CGO_ENABLED := 0

%:
	dh $@

override_dh_auto_build:
	mkdir -p bin
	cd modules/cli && /usr/lib/go-1.24/bin/go build -mod=vendor -buildmode=pie -ldflags="-s -w -X github.com/kubetail-org/kubetail/modules/cli/cmd.version=${VERSION}" -o ../../bin/kubetail main.go

override_dh_auto_install:
	install -D -m 0755 bin/kubetail debian/kubetail/usr/bin/kubetail

override_dh_dwz:
	# Skip dwz compression for Go binaries with compressed debug sections
