<services>
  <service name="download_url">
    <param name="host">github.com</param>
    <param name="protocol">https</param>
    <param name="path">/kubetail-org/kubetail/releases/download/cli%2Fv${VERSION}/kubetail-${VERSION}-vendored.tar.gz</param>
    <param name="filename">kubetail-${VERSION}-vendored.tar.gz</param>
  </service>
  <service name="verify_file">
    <param name="file">_service:download_url:kubetail-${VERSION}-vendored.tar.gz</param>
    <param name="verifier">sha256</param>
    <param name="checksum">${SHA256}</param>
  </service>
</services>
