Name:           kubetail-cli
Version:        ${VERSION}
Release:        1%{?dist}
Summary:        Real-time logging tool for Kubernetes

%global debug_package %{nil}

License:        Apache-2.0
URL:            https://github.com/kubetail-org/kubetail
Source0:        kubetail-%{version}-vendored.tar.gz

BuildRequires:  golang >= 1.24
BuildRequires:  glibc

%description
Kubetail is a general-purpose logging dashboard for Kubernetes, optimized
for tailing logs across multi-container workloads in real-time. With
Kubetail, you can view logs from all the containers in a workload
(e.g. Deployment or DaemonSet) merged into a single, chronological
timeline, delivered to a browser or terminal.

%prep
%setup -q -n kubetail-%{version}

%build
cd modules/cli && \
  GOWORK=off \
  CGO_ENABLED=0 \
  go build \
    -mod=vendor \
    -ldflags="-s -w -X github.com/kubetail-org/kubetail/modules/cli/cmd.version=%{version}" \
    -o ../../bin/kubetail \
    main.go

%install
install -D -m 0755 bin/kubetail %{buildroot}/usr/bin/kubetail

%files
%doc LICENSE
%doc README.md
/usr/bin/kubetail

%changelog
* ${TIMESTAMP} kubetail-bot <bot@kubetail.com> - ${VERSION}-1
- Initial package
