$toolsDir = Split-Path -Parent $MyInvocation.MyCommand.Definition

# Dectect drchitecture (9 = x64 (AMD64), 12 = ARM64)
$osArch = (Get-CimInstance Win32_Processor).Architecture

if ($osArch -eq 12) {
    $url      = 'https://github.com/kubetail-org/kubetail/releases/download/cli%2Fv${VERSION}/kubetail-windows-arm64'
    $checksum = '${ARM64_SHA256}'
}
else {
    $url      = 'https://github.com/kubetail-org/kubetail/releases/download/cli%2Fv${VERSION}/kubetail-windows-amd64'
    $checksum = '${AMD64_SHA256}'
}

$packageArgs = @{
    PackageName    = 'kubetail'
    Url64bit       = $url
    Checksum64     = $checksum
    ChecksumType64 = 'sha256'
    FileFullPath   = "$toolsDir\kubetail.exe"
}

Get-ChocolateyWebFile @packageArgs
