<?xml version="1.0" encoding="utf-8"?>
<!-- Do not remove this test for UTF-8: if “Ω” doesn’t appear as greek uppercase omega letter enclosed in quotation marks, you should use an editor that supports UTF-8, not this one. -->
<package xmlns="http://schemas.microsoft.com/packaging/2015/06/nuspec.xsd">
  <metadata>
    <id>kubetail</id>
    <version>${VERSION}</version>
    <packageSourceUrl>https://github.com/kubetail-org/choco-packages</packageSourceUrl>
    <owners>Andres Morey</owners>
    <title>Kubetail (CLI)</title>
    <authors>Kubetail</authors>
    <projectUrl>https://www.kubetail.com</projectUrl>
    <iconUrl>https://assets.kubetail.com/choco/icon.cd5e01aa.png</iconUrl>
    <copyright>(c) 2024-2025 Andres Morey</copyright>
    <licenseUrl>https://github.com/kubetail-org/kubetail/blob/main/LICENSE</licenseUrl>
    <requireLicenseAcceptance>false</requireLicenseAcceptance>
    <projectSourceUrl>https://github.com/kubetail-org/kubetail</projectSourceUrl>
    <docsUrl>https://www.kubetail.com/docs</docsUrl>
    <bugTrackerUrl>https://github.com/kubetail-org/kubetail/issues</bugTrackerUrl>
    <tags>kubernetes docker logs monitoring observability real-time</tags>
    <summary>Kubetail is a real-time logging dashboard for Kubernetes</summary>
    <description><![CDATA[## Kubetail (CLI)
### Introduction

The Kubetail CLI tool (kubetail) acts as an entry point into Kubetail on your desktop. Using the CLI tool you can start/stop the Kubetail Dashboard and perform other Kubetail-related operations on your cluster.

### Sub-commands

kubetail cluster
kubetail completion
kubetail help
kubetail logs
kubetail serve
]]></description>
    <releaseNotes>https://github.com/kubetail-org/kubetail/releases/tag/cli%2Fv${VERSION}</releaseNotes>
  </metadata>
  <files>
    <file src="tools\**" target="tools" />
  </files>
</package>
