name: ci

permissions:
  contents: read

on:
  pull_request:
    branches:
      - '**'

jobs:
  crates-lint:
    name: Rust fmt & Clippy
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true

      - name: rustfmt
        working-directory: ./crates/rgkl
        run: cargo fmt --all -- --check

      - name: clippy
        working-directory: ./crates/rgkl
        run: cargo clippy --all -- -D warnings

  crates-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v3
      - name: Run tests
        working-directory: ./crates/rgkl
        run: |
          cargo test

  crates-build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: arduino/setup-protoc@v3
      - name: Run tests
        working-directory: ./crates/rgkl
        run: |
          cargo build --release

  modules-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.4'
          cache: false
      - name: Run linter
        working-directory: ./modules
        run: |
          test -z $(gofmt -l .)

  modules-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.4'
          cache: false
      - name: Run tests
        working-directory: ./modules
        run: |
          go test -race github.com/kubetail-org/kubetail/modules/...

  modules-vet:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.4'
          cache: false
      - name: Run code vetter
        working-directory: ./modules
        run: |
          go vet github.com/kubetail-org/kubetail/modules/...

  dashboard-ui-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - name: Set up and run linter
        working-directory: ./dashboard-ui
        run: |
          pnpm install
          pnpm lint

  dashboard-ui-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - name: Set up and run tests
        working-directory: ./dashboard-ui
        run: |
          pnpm install
          pnpm test run

  dashboard-ui-build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - name: Set up and run build script
        working-directory: ./dashboard-ui
        run: |
          pnpm install
          pnpm build

  build-dashboard-amd64:
    needs:
      - crates-test
      - crates-build
      - modules-lint
      - modules-test
      - modules-vet
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: build/package/Dockerfile.dashboard
          push: false
          tags: kubetail-dashboard:latest

  build-dashboard-arm64:
    needs:
      - crates-test
      - crates-build
      - modules-lint
      - modules-test
      - modules-vet
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: build/package/Dockerfile.dashboard
          push: false
          tags: kubetail-dashboard:latest
        
  build-cluster-api-amd64:
    needs:
      - crates-test
      - crates-build
      - modules-lint
      - modules-test
      - modules-vet
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: build/package/Dockerfile.cluster-api
          push: false
          tags: kubetail-cluster-api:latest

  build-cluster-api-arm64:
    needs:
      - crates-test
      - crates-build
      - modules-lint
      - modules-test
      - modules-vet
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: build/package/Dockerfile.cluster-api
          push: false
          tags: kubetail-cluster-api:latest
      
  build-cluster-agent-amd64:
    needs:
      - crates-test
      - crates-build
      - modules-lint
      - modules-test
      - modules-vet
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: build/package/Dockerfile.cluster-agent
          push: false
          tags: kubetail-cluster-agent:latest

  build-cluster-agent-arm64:
    needs:
      - crates-test
      - crates-build
      - modules-lint
      - modules-test
      - modules-vet
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: docker/build-push-action@v5
        with:
          context: .
          file: build/package/Dockerfile.cluster-agent
          push: false
          tags: kubetail-cluster-agent:latest

  build-cli-linux-amd64:
    needs:
      - crates-test
      - crates-build
      - modules-lint
      - modules-test
      - modules-vet
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.4'
          cache: false
      - name: Run build script
        run: make build

  build-cli-linux-arm64:
    needs:
      - crates-test
      - crates-build
      - modules-lint
      - modules-test
      - modules-vet
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.4'
          cache: false  
      - name: Run build script
        run: make build

  build-cli-macos-15:
    needs:
      - crates-test
      - crates-build
      - modules-lint
      - modules-test
      - modules-vet
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.4'
          cache: false  
      - name: Run build script
        run: make build

  build-cli-macos-14:
    needs:
      - crates-test
      - crates-build
      - modules-lint
      - modules-test
      - modules-vet
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.4'
          cache: false
      - name: Run build script
        run: make build

  build-cli-macos-13:
    needs:
      - crates-test
      - crates-build
      - modules-lint
      - modules-test
      - modules-vet
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    runs-on: macos-13
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.4'
          cache: false
      - name: Run build script
        run: make build

  build-cli-windows:
    needs:
      - crates-test
      - crates-build
      - modules-lint
      - modules-test
      - modules-vet
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.4'
          cache: false
      - name: Run build script
        run: make build
