name: ci

permissions:
  contents: read

on:
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

jobs:
  crates-build:
    strategy:
      matrix:
        os:
          - linux
        arch:
          - amd64
          - arm64
        include:
          - os: linux
            arch: amd64
            runner: ubuntu-24.04
          - os: linux
            arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
        with:
          setup-rust: "true"
          setup-protoc: "true"
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        working-directory: ./crates
        run: cargo build --release

  crates-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
        with:
          setup-rust: "true"
          setup-protoc: "true"
      - name: Run format check
        working-directory: ./crates
        run: cargo fmt --all -- --check

  crates-vet:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
        with:
          setup-rust: "true"
          setup-protoc: "true"
      - name: Run clippy
        working-directory: ./crates
        run: cargo clippy --all -- -D warnings

  crates-test:
    strategy:
      matrix:
        os:
          - linux
        arch:
          - amd64
          - arm64
        include:
          - os: linux
            arch: amd64
            runner: ubuntu-24.04
          - os: linux
            arch: arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
        with:
          setup-rust: "true"
          setup-protoc: "true"
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run tests
        working-directory: ./crates
        run: cargo test

  modules-lint:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        module:
          - cli
          - cluster-api
          - dashboard
          - shared
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
        with:
          setup-go: "true"
      - name: Run linter for ${{ matrix.module }}
        working-directory: ./modules/${{ matrix.module }}
        run: test -z "$(gofmt -l .)"

  modules-vet:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        module:
          - cli
          - cluster-api
          - dashboard
          - shared
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
        with:
          setup-go: "true"
      - name: Vet ${{ matrix.module }}
        working-directory: ./modules/${{ matrix.module }}
        run: go vet ./...

  modules-test:
    timeout-minutes: 20
    strategy:
      matrix:
        module:
          - cli
          - cluster-api
          - dashboard
          - shared
        os:
          - linux
          - macos-15
          - macos-26
          - windows
        arch:
          - amd64
          - arm64
        include:
          - os: linux
            arch: amd64
            runner: ubuntu-24.04
          - os: linux
            arch: arm64
            runner: ubuntu-24.04-arm
          - os: macos-15
            arch: amd64
            runner: macos-15-intel
          - os: macos-15
            arch: arm64
            runner: macos-15
          - os: macos-26
            arch: arm64
            runner: macos-26
          - os: windows
            arch: amd64
            runner: windows-2025
          - os: windows
            arch: arm64
            runner: windows-11-arm
        exclude:
          - os: macos-26
            arch: amd64
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
        with:
          setup-go: "true"
      - name: Run tests
        working-directory: ./modules/${{ matrix.module }}
        run: go test ./...
      - name: Run race tests
        if: ${{ !(matrix.os == 'windows' && matrix.arch == 'arm64') }}
        working-directory: ./modules/${{ matrix.module }}
        run: go test -race ./...

  dashboard-ui-lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
        with:
          setup-node: "true"
      - name: Install dependencies
        working-directory: ./dashboard-ui
        run: pnpm install --frozen-lockfile
      - name: Lint
        working-directory: ./dashboard-ui
        run: pnpm lint

  dashboard-ui-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
        with:
          setup-node: "true"
      - name: Install dependencies
        working-directory: ./dashboard-ui
        run: pnpm install --frozen-lockfile
      - name: Test
        working-directory: ./dashboard-ui
        run: pnpm test run

  dashboard-ui-build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
        with:
          setup-node: "true"
      - name: Install dependencies
        working-directory: ./dashboard-ui
        run: pnpm install --frozen-lockfile
      - name: Build
        working-directory: ./dashboard-ui
        run: pnpm build

  docker-builds:
    needs:
      - crates-build
      - crates-lint
      - crates-vet
      - crates-test
      - modules-lint
      - modules-vet
      - modules-test
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    timeout-minutes: 20
    strategy:
      matrix:
        component:
          - cli
          - cluster-agent
          - cluster-api
          - dashboard
        arch:
          - amd64
          - arm64
        target:
          - final
          - final-alpine
        include:
          # --- for arches ---
          - arch: amd64
            runner: ubuntu-24.04
          - arch: arm64
            runner: ubuntu-24.04-arm
          # --- for components --
          - component: cli
            dockerfile: build/package/Dockerfile.cli
          - component: cluster-agent
            dockerfile: build/package/Dockerfile.cluster-agent
          - component: cluster-api
            dockerfile: build/package/Dockerfile.cluster-api
          - component: dashboard
            dockerfile: build/package/Dockerfile.dashboard
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ matrix.dockerfile }}
          target: ${{ matrix.target }}
          push: false
          cache-from: type=gha,scope=${{ matrix.component }}-${{ matrix.target }}-${{ matrix.arch }}
          cache-to: type=gha,mode=max,scope=${{ matrix.component }}-${{ matrix.target }}-${{ matrix.arch }}

  cli-builds:
    needs:
      - crates-build
      - crates-lint
      - crates-vet
      - crates-test
      - modules-lint
      - modules-vet
      - modules-test
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    strategy:
      matrix:
        os:
          - linux
          - macos-15
          - macos-26
          - windows
        arch:
          - amd64
          - arm64
        include:
          - os: linux
            arch: amd64
            runner: ubuntu-24.04
            platform: linux-amd64
          - os: linux
            arch: arm64
            runner: ubuntu-24.04-arm
            platform: linux-arm64
          - os: macos-15
            arch: amd64
            runner: macos-15-intel
            platform: macos-amd64
          - os: macos-15
            arch: arm64
            runner: macos-15
            platform: macos-arm64
          - os: macos-26
            arch: arm64
            runner: macos-26
            platform: macos-arm64
          - os: windows
            arch: amd64
            runner: windows-2025
            platform: windows-amd64
          - os: windows
            arch: arm64
            runner: windows-11-arm
            platform: windows-arm64
        exclude:
          - os: macos-26
            arch: amd64
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
        with:
          setup-node: "true"
          setup-go: "true"
      - name: Build
        run: make build
        env:
          PLATFORM: ${{ matrix.platform }}

  alpine-builds:
    needs:
      - crates-build
      - crates-lint
      - crates-vet
      - crates-test
      - modules-lint
      - modules-vet
      - modules-test
      - dashboard-ui-lint
      - dashboard-ui-test
      - dashboard-ui-build
    strategy:
      fail-fast: false
      matrix:
        arch:
          - x86_64
          - x86
          - aarch64
          - armhf
          - armv7
          - loongarch64
          - ppc64le
          - riscv64
          - s390x
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup Alpine
        uses: jirutka/setup-alpine@v1
        with:
          arch: ${{ matrix.arch }}
          branch: edge
      - name: Setup
        shell: alpine.sh --root {0}
        run: |
          apk add --no-cache go
      - name: Build
        shell: alpine.sh {0}
        working-directory: ./modules/cli
        run: |
          set -ex
          ldflags="
          -s
          -w
          -X github.com/kubetail-org/kubetail/modules/cli/cmd.version=dev
          "
          go build -ldflags "$ldflags" -o ../../bin/kubetail
      - name: Verify
        shell: alpine.sh {0}
        run: |
          set -ex
          ./bin/kubetail --version

  test-e2e:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-environment
        with:
          setup-node: "true"
          setup-go: "true"
      - name: Setup k3s cluster using k3d
        uses: AbsaOSS/k3d-action@v2.4.0
        with:
          cluster-name: "kubetail-test-cluster"
          args: --agents 1
      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: v1.33.1
      - name: Test the kubetail logs command
        run: make test-e2e
