name: publish-nix

permissions:
  contents: read
  deployments: write

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      version:
        description: "Version to deploy"
        required: true
        type: string
      dry_run:
        description: "Dry run"
        required: false
        type: boolean
        default: true

jobs:
  trigger-release-workflow:
    name: Trigger release workflow in kubetail-org/kubetail-nix repo
    environment: production
    runs-on: ubuntu-24.04
    steps:
      - name: Config
        id: config
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
            echo "dry_run=${{ github.event.inputs.dry_run }}" >> $GITHUB_OUTPUT
          else
            echo "version=${GITHUB_REF#refs/tags/cli/v}" >> $GITHUB_OUTPUT
            echo "dry_run=false" >> $GITHUB_OUTPUT
          fi

      - name: Get kubetail-actions app token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.KUBETAIL_ACTIONS_APP_ID }}
          private-key: ${{ secrets.KUBETAIL_ACTIONS_APP_PRIVATE_KEY }}
          owner: kubetail-org
          repositories: kubetail-nix
          permission-actions: write

      - name: Trigger workflow
        uses: benc-uk/workflow-dispatch@v1.2.4
        with:
          repo: kubetail-org/kubetail-nix
          workflow: release
          ref: main
          token: ${{ steps.app-token.outputs.token }}
          inputs: '{ "version": "${{ steps.config.outputs.version }}", "dry_run": ${{ steps.config.outputs.dry_run }} }'
