name: publish-obs

permissions:
  contents: read
  deployments: write

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      version:
        description: "Version to release"
        required: true
        type: string
      dry_run:
        description: "Dry run"
        required: false
        type: boolean
        default: true

jobs:
  publish:
    runs-on: ubuntu-24.04
    environment: production
    steps:
      - id: config
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
            echo "dry_run=${{ github.event.inputs.dry_run }}" >> $GITHUB_OUTPUT
          else
            echo "version=${GITHUB_REF#refs/tags/cli/v}" >> $GITHUB_OUTPUT
            echo "dry_run=false" >> $GITHUB_OUTPUT
          fi

      - name: Install dependencies
        run: |
          sudo apt install -y osc

      - name: Checkout this repo
        uses: actions/checkout@v5
        with:
          sparse-checkout: .github/ci-config/obs
          sparse-checkout-cone-mode: false
          path: kubetail

      - name: Download SHA256SUMS
        uses: robinraju/release-downloader@v1.12
        with:
          repository: kubetail-org/kubetail
          tag: ${{ format('cli/v{0}', steps.config.outputs.version) }}
          fileName: "SHA256SUMS"
          out-file-path: "downloads"

      - name: Extract shasum
        id: meta
        working-directory: ./downloads
        run: |
          SHA256=$( tr -d '\r' < './SHA256SUMS' | awk '$2 == "kubetail-cli.orig.tar.xz" {print $1}' )
          echo "sha256=$SHA256" >> $GITHUB_OUTPUT

      - name: Configure osc and checkout project
        run: |
          cat > ~/.oscrc <<EOF
          [general]
          apiurl = https://api.opensuse.org

          [https://api.opensuse.org]
          user = ${{ vars.OBS_USERNAME }}
          pass = ${{ secrets.OBS_PASSWORD }}
          EOF

          osc checkout home:kubetail/kubetail-cli

      - name: Execute templates
        env:
          VERSION: ${{ steps.config.outputs.version }}
          SHA256: ${{ steps.meta.outputs.sha256 }}
          SRC_DIR: kubetail/.github/ci-config/obs
          DST_DIR: "home:kubetail/kubetail-cli"
        run: |
          export TIMESTAMP=$(LANG=C date '+%a %b %e %Y')

          # .spec
          envsubst '${VERSION} ${TIMESTAMP}' \
            < "${SRC_DIR}/kubetail-cli.spec.tmpl" \
            > "${DST_DIR}/kubetail-cli.spec"

          # _service
          envsubst '${VERSION} ${SHA256}' \
            < "${SRC_DIR}/_service.tmpl" \
            > "${DST_DIR}/_service"

      - name: Publish to OBS
        working-directory: "home:kubetail/kubetail-cli"
        run: |
          osc addremove

          osc status
          osc diff

          if [ "${{ steps.config.outputs.dry_run }}" = "false" ]; then
            osc ci -m "Update _service and spec for ${{ steps.config.outputs.version }}"
          else
            cat kubetail-cli.spec
            cat _service
          fi

      - name: Cleanup
        if: always()
        run: |
          rm -f ~/.oscrc
