name: publish-winget

permissions:
  contents: read
  deployments: write

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      version:
        description: "Version to deploy"
        required: true
        type: string
      dry_run:
        description: "Dry run"
        required: false
        type: boolean
        default: true

jobs:
  winget-release:
    name: Release on winget
    environment: production
    runs-on: ubuntu-24.04
    env:
      ORIGIN_OWNER: kubetail-org
      ORIGIN_REPO: winget-pkgs
      UPSTREAM_OWNER: microsoft
      UPSTREAM_REPO: winget-pkgs
    steps:
      - name: Configure
        id: config
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
            echo "dry_run=${{ github.event.inputs.dry_run }}" >> $GITHUB_OUTPUT
          else
            echo "version=${GITHUB_REF#refs/tags/cli/v}" >> $GITHUB_OUTPUT
            echo "dry_run=false" >> $GITHUB_OUTPUT
          fi

      - name: Checkout winget-pkgs upstream repo
        uses: actions/checkout@v4
        with:
          repository: "${{ env.UPSTREAM_OWNER }}/${{ env.UPSTREAM_REPO}}"
          sparse-checkout: manifests/k/Kubetail/Kubetail
          sparse-checkout-cone-mode: false
          path: winget-pkgs
          persist-credentials: false

      - name: Checkout this repo
        uses: actions/checkout@v4
        with:
          sparse-checkout: .github/ci-config/winget
          sparse-checkout-cone-mode: false
          path: kubetail

      - name: Download SHA256SUMS
        id: release-info
        uses: robinraju/release-downloader@v1.12
        with:
          repository: kubetail-org/kubetail
          tag: ${{ format('cli/v{0}', steps.config.outputs.version) }}
          fileName: "SHA256SUMS"
          out-file-path: "downloads"

      - name: Extract shasums
        id: meta
        working-directory: ./downloads
        run: |
          AMD64_SHA256=$( tr -d '\r' < './SHA256SUMS' | awk '$2 == "kubetail-windows-amd64.zip" {print $1}' )
          ARM64_SHA256=$( tr -d '\r' < './SHA256SUMS' | awk '$2 == "kubetail-windows-arm64.zip" {print $1}' )

          echo "amd64_sha256=$AMD64_SHA256" >> $GITHUB_OUTPUT
          echo "arm64_sha256=$ARM64_SHA256" >> $GITHUB_OUTPUT

      - name: Execute winget manifest templates
        env:
          VERSION: ${{ steps.config.outputs.version }}
          AMD64_SHA256: ${{ steps.meta.outputs.amd64_sha256 }}
          ARM64_SHA256: ${{ steps.meta.outputs.arm64_sha256 }}
          SRC_DIR: kubetail/.github/ci-config/winget
          DST_DIR: winget-pkgs/manifests/k/Kubetail/Kubetail/${{ steps.config.outputs.version }}
        run: |
          mkdir -p "${DST_DIR}"

          # Kubetail.Kubetail.yaml
          envsubst '${VERSION}' \
            < "${SRC_DIR}/Kubetail.Kubetail.yaml.tmpl" \
            > "${DST_DIR}/Kubetail.Kubetail.yaml"

          # Kubetail.Kubetail.locale.en-US.yaml
          envsubst '${VERSION}' \
            < "${SRC_DIR}/Kubetail.Kubetail.locale.en-US.yaml.tmpl" \
            > "${DST_DIR}/Kubetail.Kubetail.locale.en-US.yaml"

          # Kubetail.Kubetail.installer.yaml
          envsubst '${VERSION} ${AMD64_SHA256} ${ARM64_SHA256}' \
            < "${SRC_DIR}/Kubetail.Kubetail.installer.yaml.tmpl" \
            > "${DST_DIR}/Kubetail.Kubetail.installer.yaml"

          if [ "${{ steps.config.outputs.dry_run }}" == "true" ]; then
            ls -lah "${DST_DIR}"
            cat "${DST_DIR}"/*
          fi

      - name: Configure gpg
        uses: crazy-max/ghaction-import-gpg@v6.3.0
        with:
          gpg_private_key: ${{ secrets.KUBETAIL_BOT_PGP_SIGNING_KEY }}
          passphrase: ${{ secrets.KUBETAIL_BOT_PGP_PASSWORD }}

      - name: Configure git
        working-directory: winget-pkgs
        run: |
          # Configure git
          git config --local gpg.program gpg
          git config --local commit.gpgsign true

          git config --local user.name "${{ vars.KUBETAIL_BOT_NAME }}"
          git config --local user.email "${{ vars.KUBETAIL_BOT_EMAIL }}"
          git config --local user.signingkey "${{ vars.KUBETAIL_BOT_PGP_FINGERPRINT }}"

      - name: Get kubetail-actions app token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.KUBETAIL_ACTIONS_APP_ID }}
          private-key: ${{ secrets.KUBETAIL_ACTIONS_APP_PRIVATE_KEY }}
          owner: ${{ env.ORIGIN_OWNER }}
          repositories: ${{ env.ORIGIN_REPO }}
          permission-contents: write

      - name: Commit changes and raise PR
        working-directory: winget-pkgs
        env:
          APP_TOKEN: ${{ steps.app-token.outputs.token }}
          GH_TOKEN: ${{ secrets.AMOREY_PAT }}
        run: |
          BRANCH_NAME="release-kubetail-${{ steps.config.outputs.version }}"
          MANIFESTS_DIR="manifests/k/Kubetail/Kubetail/${{ steps.config.outputs.version }}"

          # Set origin
          git remote set-url origin "https://x-access-token:${APP_TOKEN}@github.com/${{ env.ORIGIN_OWNER }}/${{ env.ORIGIN_REPO }}.git"

          # Exit if branch already exists
          if git ls-remote --exit-code --heads origin "${BRANCH_NAME}" >/dev/null 2>&1; then
            echo "remote branch ${BRANCH_NAME} already exists"
            exit 1
          fi

          # Create new branch
          git switch -C "${BRANCH_NAME}"

          # Stage release updates
          git add "${MANIFESTS_DIR}"

          # Exit if there are no changes to commit
          if git diff --staged --quiet; then
            echo "No changes to commit"
            exit 0
          fi

          # Commit
          git commit -s -m "New version: Kubetail.Kubetail ${{ steps.config.outputs.version }}"

          # Exit if dry_run
          if [ "${{ steps.config.outputs.dry_run }}" == "true" ]; then
            ls -lah "${MANIFESTS_DIR}"
            cat "${MANIFESTS_DIR}"/*
            exit 0
          fi

          # Push to origin
          git push --set-upstream origin "${BRANCH_NAME}"

          # Raise PR
          gh pr create \
            --repo "${{ env.UPSTREAM_OWNER }}/${{ env.UPSTREAM_REPO }}" \
            --head "${{ env.ORIGIN_OWNER }}:${BRANCH_NAME}" \
            --base master \
            --title "New version: Kubetail.Kubetail version ${{ steps.config.outputs.version }}" \
            --body "This PR adds the manifest for Kubetail.Kubetail version ${{ steps.config.outputs.version }}."
