name: publish-launchpad

permissions:
  contents: read
  deployments: write

on:
  release:
    types:
      - published
  workflow_dispatch:
    inputs:
      version:
        description: "Version to release"
        required: true
        type: string
      dry_run:
        description: "Dry run"
        required: false
        type: boolean
        default: true

jobs:
  publish:
    runs-on: ubuntu-24.04
    environment: production
    steps:
      - id: config
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
            echo "dry_run=${{ github.event.inputs.dry_run }}" >> $GITHUB_OUTPUT
          else
            echo "version=${GITHUB_REF#refs/tags/cli/v}" >> $GITHUB_OUTPUT
            echo "dry_run=false" >> $GITHUB_OUTPUT
          fi

      - name: Checkout this repo
        uses: actions/checkout@v5
        with:
          sparse-checkout: .github/ci-config/launchpad
          sparse-checkout-cone-mode: false
          path: kubetail

      - name: Install dependencies
        run: |
          sudo apt install -y \
            devscripts \
            debhelper-compat

      - name: Download vendored source bundle
        uses: robinraju/release-downloader@v1.12
        with:
          repository: kubetail-org/kubetail
          tag: ${{ format('cli/v{0}', steps.config.outputs.version) }}
          fileName: "kubetail-${{ steps.config.outputs.version }}-vendored.tar.gz"
          out-file-path: "work"

      - name: Prepare orig bundle
        working-directory: work
        env:
          VERSION: ${{ steps.config.outputs.version }}
        run: |
          tar -xzf "kubetail-${VERSION}-vendored.tar.gz"
          rm -rf "kubetail-${VERSION}-vendored.tar.gz"
          mv kubetail-${VERSION} "kubetail-cli-${VERSION}"
          tar -cJf "kubetail-cli_${VERSION}.orig.tar.xz" "kubetail-cli-${VERSION}"

      - name: Create debian directory
        env:
          VERSION: ${{ steps.config.outputs.version }}
          SRC_DIR: kubetail/.github/ci-config/launchpad
          DST_DIR: work/kubetail-cli-${{ steps.config.outputs.version }}/debian
        run: |
          mkdir -p "${DST_DIR}/source"

          export TIMESTAMP="$(date -Ru)" 

          # control
          cp "${SRC_DIR}/control" "${DST_DIR}/control"

          # copyright
          cp "${SRC_DIR}/copyright" "${DST_DIR}/copyright"

          # rules
          envsubst '${VERSION}' \
            < "${SRC_DIR}/rules.tmpl" \
            > "${DST_DIR}/rules"

          # source/format
          cp "${SRC_DIR}/source/format" "${DST_DIR}/source/format"

          # source/options
          cp "${SRC_DIR}/source/options" "${DST_DIR}/source/options"

      - name: Configure gpg
        uses: crazy-max/ghaction-import-gpg@v6.3.0
        with:
          gpg_private_key: ${{ secrets.KUBETAIL_BOT_GPG_SIGNING_KEY }}
          passphrase: ${{ secrets.KUBETAIL_BOT_GPG_PASSWORD }}
          fingerprint: ${{ vars.KUBETAIL_BOT_GPG_SIGNING_KEY_FINGERPRINT }}

      - name: Build and push packages
        working-directory: work/kubetail-cli-${{ steps.config.outputs.version }}
        env:
          VERSION: ${{ steps.config.outputs.version }}
          DEBFULLNAME: ${{ vars.KUBETAIL_BOT_NAME}}
          DEBEMAIL: ${{ vars.KUBETAIL_BOT_EMAIL }}
        run: |
          FIRST_SERIES=true
          for SERIES in jammy noble plucky; do
            export PKG_VERSION="${VERSION}-1~${SERIES}1"

            if [ "${FIRST_SERIES}" = "true" ]; then 
              DCH_FLAGS="--create --package kubetail-cli"
              DEBUILD_FLAGS="-sa"
              FIRST_SERIES=false
            else
              DCH_FLAGS=""
              DEBUILD_FLAGS="-sd"
            fi

            dch ${DCH_FLAGS} -D "${SERIES}" -v "${PKG_VERSION}" "Initial release for ${SERIES}."
            debuild ${DEBUILD_FLAGS} -S -d -k"${{ vars.KUBETAIL_BOT_GPG_SIGNING_KEY_FINGERPRINT }}"

            if [ "${{ steps.config.outputs.dry_run }}" = "false" ]; then
              dput ppa:kubetail/kubetail "../kubetail-cli_${PKG_VERSION}_source.changes"
            else
              cat debian/changelog
              cat "../kubetail-cli_${PKG_VERSION}_source.changes"
            fi
          done

      - name: Cleanup GPG
        if: always()
        run: rm -rf ~/.gnupg
