name: release-docker

permissions:
  contents: read
  packages: write
  deployments: write

on:
  push:
    tags:
      - "dashboard/v*"
      - "cluster-api/v*"
      - "cluster-agent/v*"
  workflow_dispatch:
    inputs:
      git_tag:
        description: "Git tag"
        required: true
        type: string
      dry_run:
        description: "Dry run"
        required: false
        type: boolean
        default: true

jobs:
  config:
    name: Configure workflow
    runs-on: ubuntu-24.04
    outputs:
      git_tag: ${{ steps.config.outputs.git_tag }}
      component: ${{ steps.config.outputs.component }}
      image_name: ${{ steps.config.outputs.image_name }}
      image_tag: ${{ steps.config.outputs.image_tag }}
      dry_run: ${{ steps.config.outputs.dry_run }}
    steps:
      - id: config
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            GIT_TAG="${{ github.event.inputs.git_tag }}"
            DRY_RUN="${{ github.event.inputs.dry_run }}"
          else
            GIT_TAG="${GITHUB_REF#refs/tags/}"
            DRY_RUN=false
          fi

          COMPONENT=${GIT_TAG%%/*}
          IMAGE_TAG=${GIT_TAG#*/v}

          echo "git_tag=$GIT_TAG" >> $GITHUB_OUTPUT
          echo "component=$COMPONENT" >> $GITHUB_OUTPUT
          echo "image_name=kubetail-$COMPONENT" >> $GITHUB_OUTPUT
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "dry_run=$DRY_RUN" >> $GITHUB_OUTPUT

  build-and-publish:
    needs: [config]
    environment: production
    strategy:
      matrix:
        runner:
          - ubuntu-24.04
          - ubuntu-24.04-arm
        include:
          - runner: ubuntu-24.04
            arch: amd64
          - runner: ubuntu-24.04-arm
            arch: arm64
    runs-on: ${{ matrix.runner }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          ref: ${{ needs.config.outputs.git_tag }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: build/package/Dockerfile.${{ needs.config.outputs.component }}
          push: ${{ needs.config.outputs.dry_run == 'false' }}
          tags: |
            kubetail/${{ needs.config.outputs.image_name }}:${{ needs.config.outputs.image_tag }}-${{ matrix.arch }}
            ghcr.io/${{ github.repository_owner }}/${{ needs.config.outputs.image_name }}:${{ needs.config.outputs.image_tag }}-${{ matrix.arch }}

  create-and-publish-manifest:
    environment: production
    runs-on: ubuntu-24.04
    needs: [config, build-and-publish]
    steps:
      - name: Setup jq
        uses: dcarbone/install-jq-action@v3.2.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Create and push manifests
        if: ${{ needs.config.outputs.dry_run == 'false' }}
        env:
          IMAGE_NAME: ${{ needs.config.outputs.image_name }}
          IMAGE_TAG: ${{ needs.config.outputs.image_tag }}
        run: |
          docker buildx imagetools create -t kubetail/$IMAGE_NAME:$IMAGE_TAG \
            kubetail/$IMAGE_NAME:$IMAGE_TAG-amd64 \
            kubetail/$IMAGE_NAME:$IMAGE_TAG-arm64
          docker buildx imagetools create -t ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME:$IMAGE_TAG \
            ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME:$IMAGE_TAG-amd64 \
            ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME:$IMAGE_TAG-arm64

      - name: Fetch docker token
        run: |
          TOKEN=$(curl -X POST "https://hub.docker.com/v2/users/login" -H "Content-Type: application/json" -d '{"username": "${{ vars.DOCKERHUB_USERNAME }}", "password": "${{ secrets.DOCKERHUB_TOKEN }}"}' | jq -r '.token')
          echo "TOKEN=$TOKEN" >> $GITHUB_ENV

      - name: Delete extra arch manifests
        if: ${{ needs.config.outputs.dry_run == 'false' }}
        run: |
          declare -a archs=("amd64" "arm64")
          for arch in "${archs[@]}"
          do
            RESPONSE=$(curl -s -w "%{http_code}" \
              -X DELETE \
              -H "Authorization: Bearer $TOKEN" \
              "https://hub.docker.com/v2/repositories/kubetail/${{ needs.config.outputs.image_name }}/tags/${{ needs.config.outputs.image_tag }}-$arch")
            if [ "$RESPONSE" -ne 204 ]; then
              echo "DELETE for $arch failed with status $RESPONSE"
              exit 1
            fi
          done
